
@{
    ViewData["Title"] = "About the Deodorants";
}
<h1>@ViewData["Title"]</h1>

<p>A deodorant is a substance applied to the body to prevent or mask body odor due to bacterial breakdown of perspiration in the armpits, 
    groin, and in the foot, and in some cases vaginal secretions. A subclass of deodorants, 
    called antiperspirants, prevents sweating itself, typically by blocking sweat glands.</p>
<img src="~/img/deodorant.jpg" alt="deodorant" width="500" height="600">
 




<p> The human body produces perspiration (sweat) via two types of sweat gland: eccrine sweat glands which cover much of the skin and produce watery odourless sweat, and apocrine sweat glands in the armpits and groin, which produce a more oily "heavy" sweat containing a proportion of waste proteins, fatty acids and carbohydrates, that can be metabolized by bacteria to produce compounds that cause body odor. In addition the vagina produces secretions which are not a form of sweat but may be undesired and also masked with deodorants. </p>